In [2]:
import os
import pandas as pd
import re
from collections import Counter

In [3]:
os.getcwd()
pd.set_option("display.max_rows",101)
pd.set_option("display.max_columns",101)

In [4]:
rec_hgg = pd.read_csv("Get_REC_HGG_Data/rec_hgg_data.csv", index_col = 0)
rec_hgg.shape
rec_hgg.head()

,roi.label,tnum,nfse,nfl,nt1c,nt1v,nt1d,nadc.1,nfa.1,nev1.1,nev2.1,nev3.1,nevrad.1,nadc.2,nfa.2,nev1.2,nev2.2,nev3.2,nevrad.2,phn_nlin,cbvn_nlin,recov_nlin,phn_npar,recov_npar,recovn_npar,cni,ccri,crni,ncho,ncre,nnaa,nlac,nlip
0,10B71,t9119,1.39,0.36,1.83,0.32,1.42,3.98,0.73,3.24,3.93,4.29,3.98,2.78,0.72,2.01,2.44,2.64,2.63,7.18,5.59,82.76,8.56,88.67,100.00,0.16,0.98,-0.66,0.26,0.01,0.24,0.44,0.49
1,10B77,t9586,2.08,1.62,1.26,0.79,-6.91,NaN,NaN,NaN,NaN,NaN,NaN,2.53,0.50,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10B92,t10790,1.74,1.67,0.88,0.91,-0.06,1.63,1.19,1.54,1.48,1.50,1.46,1.62,1.72,1.46,1.37,1.36,1.26,0.47,0.41,68.68,0.55,70.61,73.95,0.26,-0.10,0.23,0.40,0.38,0.31,0.75,0.75
3,11054-1,NaN,1.71,1.76,1.21,0.64,0.57,1.48,0.83,1.23,1.31,1.58,1.35,1.40,0.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
4,11054-2,NaN,1.41,1.51,1.10,0.70,0.40,1.19,1.17,1.05,1.08,1.17,1.06,1.18,1.06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00

In [5]:
old_po1 = pd.read_csv("Get_Old_P01/old_po1_data.csv", index_col = 0)
old_po1.shape

(251, 32)

In [7]:
rec_hgg_path = pd.read_csv('Get_REC_HGG_Data/rec_hgg_path_jan_2019.csv')
rec_hgg_path.shape

(353, 34)

In [8]:
rec_hgg_path[rec_hgg_path.t_number==10218]

,b_number,t_number,sf_number,current_scan_date,current_surgery_date,post_t_number,post_scan_date,current_hist_grade,current_hist_type,vial_id,tumor_cell_evaluation,necrosis,mv_hyperplasia,mv_delicate_vasculature,ca9,smi31,f8_delicate,f8_simple,f8_complex,mib_1,gfap_gliosis,cd45,cd68,avgerage_cells,mv_density_overall,gfap_one_cell_type,h_and_e,bx_level_tissue_char,treatment_related_ab,bx_pure_treatment_effect,fields_counted,idh1,macrop_antibody,percent_tumor_nuclei
123,3999,10218.0,10676.0,2016-01-13,2016-01-14,11672.0,2016-01-15,Grade IV,Gliosarcoma,23B90,1,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.69,NaN,NaN,NaN,165.0,NaN,NaN,NaN,NaN,NaN,t,NaN,Indeterminable,NaN,15.0
124,3999,10218.0,10676.0,2016-01-13,2016-01-14,11672.0,2016-01-15,Grade IV,Gliosarcoma,24B90,2,1.0,2,NaN,NaN,NaN,NaN,NaN,NaN,1.25,NaN,NaN,NaN,159.0,NaN,NaN,NaN,NaN,NaN,t,NaN,Indeterminable,NaN,50.0
125,3999,10218.0,10676.0,2016-01-13,2016-01-14,11672.0,2016-01-15,Grade IV,Gliosarcoma,25B90,2,0.0,1,NaN,NaN,NaN,NaN,NaN,NaN,5.05,NaN,NaN,NaN,257.0,NaN,NaN,NaN,NaN,NaN,f,NaN,Indeterminable,NaN,50.0
126,3999,10218.0,10676.0,2016-01-13,2016-01-14,11672.0,2016-01-15,Grade IV,Gliosarcoma,26B90,3,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,32.03,NaN,NaN,NaN,471.0,NaN,NaN,NaN,NaN,NaN,f,NaN,Indeterminable,NaN,95.0

In [9]:
old_po1_path = pd.read_csv('Get_Old_P01/po1_preop_recur_path_jan2019.csv')
old_po1_path.shape

(336, 34)

In [10]:
missing_path = pd.read_csv("missing_path_manually_add.csv")
missing_path.head()

,b_number,t_number,sf_number,current_scan_date,current_surgery_date,post_t_number,post_scan_date,current_hist_grade,current_hist_type,vial_id,tumor_cell_evaluation,necrosis,mv_hyperplasia,mv_delicate_vasculature,ca9,smi31,f8_delicate,f8_simple,f8_complex,mib_1,gfap_gliosis,cd45,cd68,avgerage_cells,mv_density_overall,gfap_one_cell_type,h_and_e,bx_level_tissue_char,treatment_related_ab,bx_pure_treatment_effect,fields_counted,idh1,macrop_antibody,percent_tumor_nuclei
0,1557,11163,11124,NaN,NaN,NaN,NaN,NaN,NaN,48B72,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.68,NaN,NaN,NaN,134.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indeterminable,NaN,75.0
1,1557,11163,11124,NaN,NaN,NaN,NaN,NaN,NaN,47B72,2,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2.50,NaN,NaN,NaN,128.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Indeterminable,NaN,60.0
2,3472,8783,9739,NaN,NaN,NaN,NaN,NaN,NaN,31B61,1,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.13,NaN,NaN,NaN,198.0,NaN,NaN,NaN,NaN,NaN,t,NaN,0,NaN,20.0
3,3472,8783,9739,NaN,NaN,NaN,NaN,NaN,NaN,33B61,1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,1.34,NaN,NaN,NaN,242.0,NaN,NaN,NaN,NaN,NaN,f,NaN,0,NaN,20.0
4,3486,9287,10200,NaN,NaN,NaN,NaN,NaN,NaN,51B75,3,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,18.02,NaN,NaN,NaN,327.0,NaN,NaN,NaN,NaN,NaN,f,NaN,Indeterminable,NaN,80.0

In [11]:
rec_hgg_path.columns == old_po1_path.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True], dtype=bool)

In [12]:
rec_hgg_path.columns == missing_path.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True], dtype=bool)

In [13]:
len(missing_path.columns)

34

In [14]:
path =  rec_hgg_path
path = path.append(old_po1_path)

In [15]:
path_missing = path.append(missing_path)

## Path_missing does add additional information, now need to combine:

In [16]:
dup_rois = path_missing[path_missing.duplicated(subset = ['vial_id'])]['vial_id']
dup_rois = list(dup_rois)
#path_missing[path_missing['vial_id'].isin(dup_rois)]

In [17]:
path_missing.columns

Index(['b_number', 't_number', 'sf_number', 'current_scan_date',
       'current_surgery_date', 'post_t_number', 'post_scan_date',
       'current_hist_grade', 'current_hist_type', 'vial_id',
       'tumor_cell_evaluation', 'necrosis', 'mv_hyperplasia',
       'mv_delicate_vasculature', 'ca9', 'smi31', 'f8_delicate', 'f8_simple',
       'f8_complex', 'mib_1', 'gfap_gliosis', 'cd45', 'cd68', 'avgerage_cells',
       'mv_density_overall', 'gfap_one_cell_type', 'h_and_e',
       'bx_level_tissue_char', 'treatment_related_ab',
       'bx_pure_treatment_effect', 'fields_counted', 'idh1', 'macrop_antibody',
       'percent_tumor_nuclei'],
      dtype='object')

In [18]:
path_missing= path_missing.groupby('vial_id')[['b_number', 't_number', 'sf_number', 'current_scan_date',
       'current_surgery_date', 'post_t_number', 'post_scan_date',
       'current_hist_grade', 'current_hist_type',
       'tumor_cell_evaluation', 'necrosis', 'mv_hyperplasia',
       'mv_delicate_vasculature', 'ca9', 'smi31', 'f8_delicate', 'f8_simple',
       'f8_complex', 'mib_1', 'gfap_gliosis', 'cd45', 'cd68', 'avgerage_cells',
       'mv_density_overall', 'gfap_one_cell_type', 'h_and_e',
       'bx_level_tissue_char', 'treatment_related_ab',
       'bx_pure_treatment_effect', 'fields_counted', 'idh1', 'macrop_antibody',
       'percent_tumor_nuclei']].first().reset_index()

In [19]:
path_missing.columns

Index(['vial_id', 'b_number', 't_number', 'sf_number', 'current_scan_date',
       'current_surgery_date', 'post_t_number', 'post_scan_date',
       'current_hist_grade', 'current_hist_type', 'tumor_cell_evaluation',
       'necrosis', 'mv_hyperplasia', 'mv_delicate_vasculature', 'ca9', 'smi31',
       'f8_delicate', 'f8_simple', 'f8_complex', 'mib_1', 'gfap_gliosis',
       'cd45', 'cd68', 'avgerage_cells', 'mv_density_overall',
       'gfap_one_cell_type', 'h_and_e', 'bx_level_tissue_char',
       'treatment_related_ab', 'bx_pure_treatment_effect', 'fields_counted',
       'idh1', 'macrop_antibody', 'percent_tumor_nuclei'],
      dtype='object')

In [20]:
path_missing.columns = ['roi.label', 'b_number', 't_number', 'sf_number', 'current_scan_date',
       'current_surgery_date', 'post_t_number', 'post_scan_date',
       'current_hist_grade', 'current_hist_type', 'tumor_cell_evaluation',
       'necrosis', 'mv_hyperplasia', 'mv_delicate_vasculature', 'ca9', 'smi31',
       'f8_delicate', 'f8_simple', 'f8_complex', 'mib_1', 'gfap_gliosis',
       'cd45', 'cd68', 'avgerage_cells', 'mv_density_overall',
       'gfap_one_cell_type', 'h_and_e', 'bx_level_tissue_char',
       'treatment_related_ab', 'bx_pure_treatment_effect', 'fields_counted',
       'idh1', 'macrop_antibody', 'percent_tumor_nuclei']

In [21]:
path_missing.shape
path_missing.head()

,roi.label,b_number,t_number,sf_number,current_scan_date,current_surgery_date,post_t_number,post_scan_date,current_hist_grade,current_hist_type,tumor_cell_evaluation,necrosis,mv_hyperplasia,mv_delicate_vasculature,ca9,smi31,f8_delicate,f8_simple,f8_complex,mib_1,gfap_gliosis,cd45,cd68,avgerage_cells,mv_density_overall,gfap_one_cell_type,h_and_e,bx_level_tissue_char,treatment_related_ab,bx_pure_treatment_effect,fields_counted,idh1,macrop_antibody,percent_tumor_nuclei
0,10B28,2723,6369.0,8122.0,2009-09-13,2009-09-14,11089.0,2009-09-15,Grade IV,Glioblastoma,0,0,0,1,0,1,2,1,0,0.82,NaN,NaN,0,183.75,NaN,NaN,NaN,NaN,1,t,4.0,NaN,NaN,NaN
1,10B71,3519,9119.0,10064.0,2014-08-04,2014-08-05,9922.0,2014-08-07,Grade IV,Glioblastoma,1,0,0,NaN,NaN,NaN,NaN,NaN,NaN,15.87,NaN,NaN,NaN,126.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,15.0
2,10B77,3739,9586.0,10311.0,2015-03-31,2015-04-01,9949.0,2015-04-02,Grade IV,Glioblastoma,2,0,1,NaN,NaN,NaN,NaN,NaN,NaN,4.91,NaN,NaN,NaN,162.00,NaN,NaN,NaN,NaN,NaN,f,NaN,NaN,NaN,70.0
3,10B92,4193,10790.0,11065.0,2016-11-22,2016-11-23,11557.0,2016-11-24,Grade IV,Glioblastoma,2,0,0,NaN,NaN,NaN,NaN,NaN,NaN,5.50,NaN,NaN,NaN,131.00,NaN,NaN,NaN,NaN,NaN,t,NaN,0,NaN,40.0
4,10D19,4546,12539.0,12032.0,2018-11-06,2018-11-07,NaN,NaN,Grade IV,Glioblastoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
rec_hgg.columns = ['roi.label', 't_number', 'nfse', 'nfl', 'nt1c', 'nt1v', 'nt1d', 'nadc.1',
       'nfa.1', 'nev1.1', 'nev2.1', 'nev3.1', 'nevrad.1', 'nadc.2', 'nfa.2',
       'nev1.2', 'nev2.2', 'nev3.2', 'nevrad.2', 'phn_nlin', 'cbvn_nlin',
       'recov_nlin', 'phn_npar', 'recov_npar', 'recovn_npar', 'cni', 'ccri',
       'crni', 'ncho', 'ncre', 'nnaa', 'nlac', 'nlip']

In [23]:
mri_data = old_po1
mri_data['olddata']=1
mri_data['newdata']=0
rec_hgg['newdata']=1
rec_hgg['olddata']=0

mri_data = mri_data.append(rec_hgg)
mri_data.head()

,cbvn_nlin,ccri,cni,crni,nadc.1,nadc.2,ncho,ncre,nev1.1,nev1.2,nev2.1,nev2.2,nev3.1,nev3.2,nevrad.1,nevrad.2,newdata,nfa.1,nfa.2,nfl,nfse,nlac,nlip,nnaa,nt1c,nt1d,nt1v,olddata,phn_nlin,phn_npar,recov_nlin,recov_npar,recovn_npar,roi.label,t_number
0,0.66,2.46,2.44,-0.25,1.20,NaN,1.21,0.39,1.03,NaN,1.10,NaN,1.20,NaN,1.09,NaN,0,0.81,NaN,1.84,2.16,0.37,7.29,0.53,1.22,0.24,0.86,1,0.81,0.79,84.53,84.71,NaN,10B28,t6369
1,2.24,0.30,1.84,0.97,1.87,0.00,0.78,0.74,1.41,0.00,1.68,0.00,1.76,0.00,1.61,0.0,0,0.46,0.00,1.44,2.25,0.42,21.54,0.36,1.98,1.30,0.73,1,2.25,2.25,84.88,87.55,NaN,11B16,t5317
2,NaN,1.97,4.13,0.57,NaN,NaN,0.95,0.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,-0.03,-2.71,0.08,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,11B40,t7408
3,0.58,NaN,NaN,NaN,1.39,1.49,NaN,NaN,1.12,1.12,1.11,1.31,1.16,1.39,1.13,1.4,0,0.65,0.83,2.01,2.40,NaN,NaN,NaN,1.00,-0.01,0.82,1,0.67,0.60,100.00,100.00,NaN,11B43,t7540
4,1.71,1.20,2.04,0.37,1.90,0.00,1.18,0.89,1.41,0.00,1.72,0.00,1.76,0.00,1.61,0.0,0,0.46,0.00,1.53,2.34,0.62,8.14,0.73,2.04,1.33,0.77,1,1.73,1.88,85.03,88.16,NaN,12B16,t5317

In [24]:
mri_data.head()

,cbvn_nlin,ccri,cni,crni,nadc.1,nadc.2,ncho,ncre,nev1.1,nev1.2,nev2.1,nev2.2,nev3.1,nev3.2,nevrad.1,nevrad.2,newdata,nfa.1,nfa.2,nfl,nfse,nlac,nlip,nnaa,nt1c,nt1d,nt1v,olddata,phn_nlin,phn_npar,recov_nlin,recov_npar,recovn_npar,roi.label,t_number
0,0.66,2.46,2.44,-0.25,1.20,NaN,1.21,0.39,1.03,NaN,1.10,NaN,1.20,NaN,1.09,NaN,0,0.81,NaN,1.84,2.16,0.37,7.29,0.53,1.22,0.24,0.86,1,0.81,0.79,84.53,84.71,NaN,10B28,t6369
1,2.24,0.30,1.84,0.97,1.87,0.00,0.78,0.74,1.41,0.00,1.68,0.00,1.76,0.00,1.61,0.0,0,0.46,0.00,1.44,2.25,0.42,21.54,0.36,1.98,1.30,0.73,1,2.25,2.25,84.88,87.55,NaN,11B16,t5317
2,NaN,1.97,4.13,0.57,NaN,NaN,0.95,0.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,-0.03,-2.71,0.08,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,11B40,t7408
3,0.58,NaN,NaN,NaN,1.39,1.49,NaN,NaN,1.12,1.12,1.11,1.31,1.16,1.39,1.13,1.4,0,0.65,0.83,2.01,2.40,NaN,NaN,NaN,1.00,-0.01,0.82,1,0.67,0.60,100.00,100.00,NaN,11B43,t7540
4,1.71,1.20,2.04,0.37,1.90,0.00,1.18,0.89,1.41,0.00,1.72,0.00,1.76,0.00,1.61,0.0,0,0.46,0.00,1.53,2.34,0.62,8.14,0.73,2.04,1.33,0.77,1,1.73,1.88,85.03,88.16,NaN,12B16,t5317

In [25]:
mri_path = pd.merge(mri_data, path_missing, on = ['roi.label'], how = 'left')
mri_path.shape

(479, 68)

In [26]:

mri_path.head()

,cbvn_nlin,ccri,cni,crni,nadc.1,nadc.2,ncho,ncre,nev1.1,nev1.2,nev2.1,nev2.2,nev3.1,nev3.2,nevrad.1,nevrad.2,newdata,nfa.1,nfa.2,nfl,nfse,nlac,nlip,nnaa,nt1c,nt1d,nt1v,olddata,phn_nlin,phn_npar,recov_nlin,recov_npar,recovn_npar,roi.label,t_number_x,b_number,t_number_y,sf_number,current_scan_date,current_surgery_date,post_t_number,post_scan_date,current_hist_grade,current_hist_type,tumor_cell_evaluation,necrosis,mv_hyperplasia,mv_delicate_vasculature,ca9,smi31,f8_delicate,f8_simple,f8_complex,mib_1,gfap_gliosis,cd45,cd68,avgerage_cells,mv_density_overall,gfap_one_cell_type,h_and_e,bx_level_tissue_char,treatment_related_ab,bx_pure_treatment_effect,fields_counted,idh1,macrop_antibody,percent_tumor_nuclei
0,0.66,2.46,2.44,-0.25,1.20,NaN,1.21,0.39,1.03,NaN,1.10,NaN,1.20,NaN,1.09,NaN,0,0.81,NaN,1.84,2.16,0.37,7.29,0.53,1.22,0.24,0.86,1,0.81,0.79,84.53,84.71,NaN,10B28,t6369,2723.0,6369.0,8122.0,2009-09-13,2009-09-14,11089.0,2009-09-15,Grade IV,Glioblastoma,0,0,0,1,0,1,2,1,0,0.82,NaN,NaN,0,183.75,NaN,NaN,NaN,NaN,1,t,4.0,NaN,NaN,NaN
1,2.24,0.30,1.84,0.97,1.87,0.00,0.78,0.74,1.41,0.00,1.68,0.00,1.76,0.00,1.61,0.0,0,0.46,0.00,1.44,2.25,0.42,21.54,0.36,1.98,1.30,0.73,1,2.25,2.25,84.88,87.55,NaN,11B16,t5317,2312.0,5317.0,7679.0,2008-05-04,2008-05-04,NaN,NaN,Grade IV,Glioblastoma,2,1,1,1,1,2,2,3,0,3.31,NaN,2,2,146.80,NaN,NaN,NaN,NaN,0,f,5.0,NaN,NaN,NaN
2,NaN,1.97,4.13,0.57,NaN,NaN,0.95,0.28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,-0.03,-2.71,0.08,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,11B40,t7408,2474.0,7408.0,8701.0,2011-03-23,2011-03-24,11137.0,2011-03-25,Grade IV,Glioblastoma,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.58,NaN,NaN,NaN,1.39,1.49,NaN,NaN,1.12,1.12,1.11,1.31,1.16,1.39,1.13,1.4,0,0.65,0.83,2.01,2.40,NaN,NaN,NaN,1.00,-0.01,0.82,1,0.67,0.60,100.00,100.00,NaN,11B43,t7540,3169.0,7540.0,8796.0,2011-06-19,2011-06-20,11144.0,2011-06-22,Grade IV,Glioblastoma,2,0,0,NaN,0,1,3,0,0,17.00,NaN,NaN,1,234.60,NaN,NaN,NaN,NaN,0,f,5.0,NaN,NaN,NaN
4,1.71,1.20,2.04,0.37,1.90,0.00,1.18,0.89,1.41,0.00,1.72,0.00,1.76,0.00,1.61,0.0,0,0.46,0.00,1.53,2.34,0.62,8.14,0.73,2.04,1.33,0.77,1,1.73,1.88,85.03,88.16,NaN,12B16,t5317,2312.0,5317.0,7679.0,2008-05-04,2008-05-04,NaN,NaN,Grade IV,Glioblastoma,2,1,1,0,2,1,3,2,0,12.84,NaN,2,2,185.00,NaN,NaN,NaN,NaN,0,f,4.0,NaN,NaN,NaN

In [27]:
mri_path['tumor_cell_evaluation'].isnull().sum()

36

In [28]:
mri_path.columns

Index(['cbvn_nlin', 'ccri', 'cni', 'crni', 'nadc.1', 'nadc.2', 'ncho', 'ncre',
       'nev1.1', 'nev1.2', 'nev2.1', 'nev2.2', 'nev3.1', 'nev3.2', 'nevrad.1',
       'nevrad.2', 'newdata', 'nfa.1', 'nfa.2', 'nfl', 'nfse', 'nlac', 'nlip',
       'nnaa', 'nt1c', 'nt1d', 'nt1v', 'olddata', 'phn_nlin', 'phn_npar',
       'recov_nlin', 'recov_npar', 'recovn_npar', 'roi.label', 't_number_x',
       'b_number', 't_number_y', 'sf_number', 'current_scan_date',
       'current_surgery_date', 'post_t_number', 'post_scan_date',
       'current_hist_grade', 'current_hist_type', 'tumor_cell_evaluation',
       'necrosis', 'mv_hyperplasia', 'mv_delicate_vasculature', 'ca9', 'smi31',
       'f8_delicate', 'f8_simple', 'f8_complex', 'mib_1', 'gfap_gliosis',
       'cd45', 'cd68', 'avgerage_cells', 'mv_density_overall',
       'gfap_one_cell_type', 'h_and_e', 'bx_level_tissue_char',
       'treatment_related_ab', 'bx_pure_treatment_effect', 'fields_counted',
       'idh1', 'macrop_antibody', 'percent_tumor_nuclei'],
      dtype='object')

In [29]:
cols_of_interest = ['roi.label', 'b_number', 't_number_x', 't_number_y',
       'sf_number', 'current_scan_date', 'current_surgery_date',
       'current_hist_grade',
       'current_hist_type', 'tumor_cell_evaluation', 'necrosis',
       'mv_hyperplasia', 'mv_delicate_vasculature',
       'f8_delicate', 'f8_simple', 'f8_complex', 'mib_1', 
       'avgerage_cells', 
       'treatment_related_ab', 'bx_pure_treatment_effect', 'percent_tumor_nuclei', 
       'nfl', 'nfse','nt1c', 'nt1v', 'nt1d', 
       'nadc.1', 'nfa.1', 'nev1.1', 'nev2.1', 'nev3.1', 'nevrad.1',
       'nadc.2', 'nfa.2', 'nev1.2', 'nev2.2', 'nev3.2', 'nevrad.2', 
       'cbvn_nlin', 'phn_nlin', 'recov_nlin','phn_npar','recov_npar', 'recovn_npar',
        'ccri', 'cni', 'crni',  'ncho', 'ncre', 'nnaa', 'nlac', 'nlip', "newdata", 'olddata']

In [30]:
mri_path= mri_path[cols_of_interest]

In [31]:
mri_path.shape
mri_path.columns

Index(['roi.label', 'b_number', 't_number_x', 't_number_y', 'sf_number',
       'current_scan_date', 'current_surgery_date', 'current_hist_grade',
       'current_hist_type', 'tumor_cell_evaluation', 'necrosis',
       'mv_hyperplasia', 'mv_delicate_vasculature', 'f8_delicate', 'f8_simple',
       'f8_complex', 'mib_1', 'avgerage_cells', 'treatment_related_ab',
       'bx_pure_treatment_effect', 'percent_tumor_nuclei', 'nfl', 'nfse',
       'nt1c', 'nt1v', 'nt1d', 'nadc.1', 'nfa.1', 'nev1.1', 'nev2.1', 'nev3.1',
       'nevrad.1', 'nadc.2', 'nfa.2', 'nev1.2', 'nev2.2', 'nev3.2', 'nevrad.2',
       'cbvn_nlin', 'phn_nlin', 'recov_nlin', 'phn_npar', 'recov_npar',
       'recovn_npar', 'ccri', 'cni', 'crni', 'ncho', 'ncre', 'nnaa', 'nlac',
       'nlip', 'newdata', 'olddata'],
      dtype='object')

In [32]:
mri_path[mri_path['roi.label']=="79B91"]

,roi.label,b_number,t_number_x,t_number_y,sf_number,current_scan_date,current_surgery_date,current_hist_grade,current_hist_type,tumor_cell_evaluation,necrosis,mv_hyperplasia,mv_delicate_vasculature,f8_delicate,f8_simple,f8_complex,mib_1,avgerage_cells,treatment_related_ab,bx_pure_treatment_effect,percent_tumor_nuclei,nfl,nfse,nt1c,nt1v,nt1d,nadc.1,nfa.1,nev1.1,nev2.1,nev3.1,nevrad.1,nadc.2,nfa.2,nev1.2,nev2.2,nev3.2,nevrad.2,cbvn_nlin,phn_nlin,recov_nlin,phn_npar,recov_npar,recovn_npar,ccri,cni,crni,ncho,ncre,nnaa,nlac,nlip,newdata,olddata
454,79B91,4208.0,NaN,10763.0,11039.0,2016-10-25,2016-10-26,Treatment Effect,Treatment Effect,1,0,1,NaN,NaN,NaN,NaN,182.0,0.0,NaN,f,20.0,1.71,1.5,0.98,1.01,-0.12,NaN,NaN,NaN,NaN,NaN,NaN,1.64,1.61,1.51,1.35,1.55,1.44,NaN,NaN,NaN,NaN,NaN,NaN,0.12,-1.49,-1.35,0.82,0.79,1.17,0.25,0.25,1,0

In [33]:
Counter(mri_path.duplicated(subset = 'roi.label'))

Counter({False: 479})

In [34]:
os.listdir()

['.ipynb_checkpoints',
 'Merge_Data.ipynb',
 'Scripts',
 'missing_path_manually_add.csv',
 'final_mri_with_path_jan2019.csv',
 'Get_REC_HGG_Data',
 'Get_Old_P01',
 'Get_REC_HGG_Datarec_hgg_anat_median_biopsy.csv',
 'Get_REC_HGG_DataREC_HGG_anat_error_log.csv',
 'Get_REC_HGG_Datarec_hgg_spec_median_biopsy.csv',
 'Get_REC_HGG_DataREC_HGG_spec_error_log.csv']

In [36]:
mri_path.to_csv('final_mri_with_path.csv')

In [37]:
mri_path.t_number_y.nunique()

173