In [1]:
import pandas as pd
import os
import glob

In [2]:
glob.glob("*.csv")

['rec_hgg_path_jan_2019.csv',
 'REC_HGG_diffu1000_biopsies.csv',
 'rec_hgg_process_list.79.csv',
 'REC_HGG_anat_error_log.csv',
 'rec_hgg_anat_median_biopsy.csv',
 'REC_HGG_diffu1000_error_log.csv',
 'REC_HGG_diffu2000_biopsies.csv',
 'REC_HGG_diffu2000_error_log.csv',
 'rec_hgg_perf_biopsy.csv',
 'REC_HGG_perf_error_log.csv',
 'REC_HGG_spec_error_log.csv',
 'rec_hgg_spec_median_biopsy.csv',
 'rec_hgg_data_jan2019.csv']

In [3]:
anat = pd.read_csv("rec_hgg_anat_median_biopsy.csv", index_col = 0)
anat.shape

(228, 11)

In [4]:
anat.head()

      roi.label    fse      fl     t1c  t1v  t1d  nfse   nfl  nt1c  nt1v  nt1d
tnum
t8773     61B60  845.0  2415.0  1950.0  NaN  NaN  1.51  1.74  0.91   NaN   NaN
t8773     62B60  885.0  2435.0  2750.0  NaN  NaN  1.58  1.75  1.29   NaN   NaN
t8773     63B60  685.0  1635.0  1970.0  NaN  NaN  1.22  1.18  0.92   NaN   NaN
t8775      2B61  835.0  2375.0  4410.0  NaN  NaN  1.61  1.80  2.12   NaN   NaN
t8775      1B61  765.0  2395.0  3950.0  NaN  NaN  1.47  1.81  1.90   NaN   NaN

In [5]:
diffu1000 = pd.read_csv("REC_HGG_diffu1000_biopsies.csv", index_col = 0)
diffu1000.shape
diffu1000.columns

Index(['roi.label', 'adc.1', 'fa.1', 'nadc.1', 'nfa.1', 'nev1.1', 'nev2.1',
       'nev3.1', 'nevrad.1'],
      dtype='object')

In [6]:
diffu2000 = pd.read_csv("REC_HGG_diffu2000_biopsies.csv", index_col = 0)
diffu2000.shape
diffu2000.columns

Index(['roi.label', 'adc.2', 'fa.2', 'nadc.2', 'nfa.2', 'nev1.2', 'nev2.2',
       'nev3.2', 'nevrad.2'],
      dtype='object')

In [7]:
perf = pd.read_csv('rec_hgg_perf_biopsy.csv', index_col = 0)
perf.shape
perf.columns = ['tnum', 'roi.label', 'phn_nlin', 'cbvn_nlin', 'recov_nlin', 'phn_npar',
       'recov_npar', 'recovn_npar']

In [8]:
spec = pd.read_csv('rec_hgg_spec_median_biopsy.csv', index_col = 0)
spec.shape

(182, 9)

In [9]:
ad = pd.merge(anat, diffu1000, how = 'outer', on = ['roi.label'])
ad.shape

(228, 19)

In [10]:
add = pd.merge(ad, diffu2000, how = 'outer', on = ['roi.label'])
add.shape

(228, 27)

In [11]:
addp = pd.merge(add, perf, how = 'outer', on = ['roi.label'])
addp.shape

(228, 34)

In [12]:
addps = pd.merge(addp, spec, how = 'outer', on = ['roi.label'])
addps.shape

(228, 42)

In [13]:
addps.columns

Index(['roi.label', 'fse', 'fl', 't1c', 't1v', 't1d', 'nfse', 'nfl', 'nt1c',
       'nt1v', 'nt1d', 'adc.1', 'fa.1', 'nadc.1', 'nfa.1', 'nev1.1', 'nev2.1',
       'nev3.1', 'nevrad.1', 'adc.2', 'fa.2', 'nadc.2', 'nfa.2', 'nev1.2',
       'nev2.2', 'nev3.2', 'nevrad.2', 'tnum', 'phn_nlin', 'cbvn_nlin',
       'recov_nlin', 'phn_npar', 'recov_npar', 'recovn_npar', 'cni', 'ccri',
       'crni', 'ncho', 'ncre', 'nnaa', 'nlac', 'nlip'],
      dtype='object')

In [14]:
addps = addps.groupby("roi.label", as_index=False).first()

In [15]:
cols_of_interest = ['roi.label','tnum', 'nfse', 'nfl', 'nt1c',
       'nt1v', 'nt1d', 'nadc.1', 'nfa.1', 'nev1.1', 'nev2.1',
       'nev3.1', 'nevrad.1', 'nadc.2', 'nfa.2', 'nev1.2',
       'nev2.2', 'nev3.2', 'nevrad.2', 'phn_nlin', 'cbvn_nlin',
       'recov_nlin', 'phn_npar', 'recov_npar', 'recovn_npar', 'cni', 'ccri',
       'crni', 'ncho', 'ncre', 'nnaa', 'nlac', 'nlip']

In [16]:
addps = addps[cols_of_interest]

In [17]:
addps.shape

(228, 33)

In [18]:
addps.to_csv('rec_hgg_data.csv')