In [29]:
import pandas as pd
import os
import glob

In [30]:
glob.glob("*csv")

['oldP01_anat_stats.biopsy.csv',
 'oldP01_diffu_stats.biopsy.csv',
 'oldP01_spec_stats.biopsy.csv',
 'oldP01_perfn_stats.biopsy.csv',
 'old_po1_data_oct2018.csv',
 'oldP01_perf_stats.biopsy.csv',
 'oldP01_perf_model_stats.biopsy.csv',
 'oldP01_perfn_model_stats.biopsy.csv']

In [31]:
anat = pd.read_csv('oldP01_anat_stats.biopsy.csv', index_col = 0)
anat.shape

(261, 13)

In [32]:
anat.columns = ['id_value', 'biopsy', 'vol_fvox', 't1c', 't1v', 't1d', 'fse', 'fl',
       'nt1c', 'nt1v', 'nt1d', 'nfse', 'nfl']

In [33]:
diffu = pd.read_csv('oldP01_diffu_stats.biopsy.csv', index_col = 0)
diffu.shape
diffu.head()

,id value,biopsy,vol/fvox,adc,fa,ev1,ev2,ev3,evr,nadc,nfa,nev1,nev2,nev3,nevr
0,t4966,68B12,0.05,1593.0,104.5,1756.0,1613.5,1442.5,1520.0,2.11,0.39,1.76,2.15,2.86,2.45
1,t4966,21B12,0.06,1407.0,172.5,1636.0,1410.5,1167.5,1297.5,1.86,0.64,1.64,1.88,2.31,2.09
2,t5272,85B15,0.08,1830.5,101.5,2005.0,1876.0,1612.5,1743.0,2.36,0.39,1.97,2.42,2.83,2.67
3,t5272,86B15,0.08,899.5,177.5,1075.0,900.0,727.5,813.0,1.16,0.68,1.05,1.16,1.28,1.24
4,t5296,26B16,0.07,1269.0,0.0,0.0,0.0,0.0,0.0,1.75,0.00,0.00,0.00,0.00,0.00

In [34]:
diffu.columns = ['id_value', 'biopsy', 'vol_fvox', 'adc', 'fa', 'ev1', 'ev2', 'ev3',
       'evr', 'nadc', 'nfa', 'nev1', 'nev2', 'nev3', 'nevr']

In [35]:
perf = pd.read_csv('../../QCData/po1_preop_recur_perf_biopsies.csv')

In [36]:
perf.columns = ['bnum', 'id_value', 'biopsy', 'phn_nlin', 'cbvn_nlin', 'recov_nlin',
       'phn_npar', 'recov_npar', 'recovn_npar']

In [37]:
spec = pd.read_csv('oldP01_spec_stats.biopsy.csv', index_col = 0)
spec.head()

,id value,biopsy,vol/fvox,cho,cre,naa,lip,lac,xschn,xsccr,...,ccri,crni,ncho,ncre,nnaa,nlip,nlac,nxschn,nxsccr,nxscrn
0,t4966,68B12,0.08,6.51,1.87,4.40,7.20,2.47,3.85,4.69,...,1.89,-0.46,0.59,0.21,0.33,0.53,0.18,0.35,0.42,-0.10
1,t5272,85B15,0.06,7.61,7.35,9.59,1.54,1.75,1.87,0.29,...,-0.53,0.94,0.67,0.82,0.60,0.10,0.11,0.17,0.03,0.17
2,t5272,86B15,0.05,11.81,8.25,16.09,1.84,1.45,2.07,3.49,...,0.37,0.14,1.04,0.92,1.01,0.12,0.09,0.18,0.31,-0.14
3,t5317,11B16,0.08,6.63,-0.76,3.17,2.83,7.27,4.72,7.35,...,2.37,-0.96,0.63,-0.09,0.24,0.22,0.56,0.45,0.70,-0.31
4,t5317,12B16,0.05,11.13,6.54,6.77,0.13,6.17,7.22,4.65,...,1.37,0.54,1.06,0.76,0.52,0.01,0.47,0.69,0.44,0.28

In [38]:
spec.columns = ['id_value', 'biopsy', 'vol_fvox', 'cho', 'cre', 'naa', 'lip', 'lac',
       'xschn', 'xsccr', 'xscrn', 'cni', 'ccri', 'crni', 'ncho', 'ncre',
       'nnaa', 'nlip', 'nlac', 'nxschn', 'nxsccr', 'nxscrn']

In [39]:
ad = pd.merge(anat, diffu, 'outer', on = ['id_value', 'biopsy', "vol_fvox"])
ad.shape

(264, 25)

In [40]:
adp = pd.merge(ad, perf, 'outer', on = ['id_value', 'biopsy'])
adp.shape

(264, 32)

In [41]:
adps = pd.merge(adp, spec, 'outer', on = ['id_value', 'biopsy', "vol_fvox"])
adps.shape

(353, 51)

In [42]:
adps = adps.groupby("biopsy", as_index=False).first()

In [43]:
len(adps.columns)

51

In [44]:
adps.columns

Index(['biopsy', 'id_value', 'vol_fvox', 't1c', 't1v', 't1d', 'fse', 'fl',
       'nt1c', 'nt1v', 'nt1d', 'nfse', 'nfl', 'adc', 'fa', 'ev1', 'ev2', 'ev3',
       'evr', 'nadc', 'nfa', 'nev1', 'nev2', 'nev3', 'nevr', 'bnum',
       'phn_nlin', 'cbvn_nlin', 'recov_nlin', 'phn_npar', 'recov_npar',
       'recovn_npar', 'cho', 'cre', 'naa', 'lip', 'lac', 'xschn', 'xsccr',
       'xscrn', 'cni', 'ccri', 'crni', 'ncho', 'ncre', 'nnaa', 'nlip', 'nlac',
       'nxschn', 'nxsccr', 'nxscrn'],
      dtype='object')

In [45]:
cols_of_interest = ['biopsy', 
                   'id_value', 
                   'nt1c', 
                   'nt1v', 
                   'nfse', 
                   'nfl', 
                   'nt1d',
                   'nadc', 'nfa', 
                   'nev1', 'nev2', 'nev3', 
                   'nevr', 'phn_nlin', 'cbvn_nlin', 'recov_nlin', 
                   'phn_npar','recov_npar', 'cni', 'ccri', 'crni', 
                   'ncho', 'ncre', 'nnaa', 'nlip', 'nlac']

In [46]:
old_data_final = adps[cols_of_interest]

In [47]:
old_data_final.shape

(261, 26)

In [48]:
old_data_final.head()

,biopsy,id_value,nt1c,nt1v,nfse,nfl,nt1d,nadc,nfa,nev1,...,phn_npar,recov_npar,cni,ccri,crni,ncho,ncre,nnaa,nlip,nlac
0,10B28,t6369,1.25,0.82,2.16,1.95,0.41,1.35,0.74,1.21,...,0.79,84.71,5.25,4.48,-0.07,1.49,0.38,0.39,0.03,0.28
1,11B16,t5317,1.87,0.74,2.30,1.47,1.15,2.01,0.58,1.70,...,2.25,87.55,1.65,2.37,-0.96,0.63,-0.09,0.24,0.22,0.56
2,11B40,t7408,0.95,0.94,2.43,1.16,0.01,1.75,0.42,1.36,...,NaN,NaN,3.49,0.69,2.47,1.11,0.95,0.44,-0.02,-0.02
3,11B43,t7540,0.75,0.79,2.36,2.00,-0.04,1.34,0.63,1.13,...,0.60,100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12B16,t5317,2.06,0.70,2.28,1.58,1.34,2.17,0.82,1.90,...,1.88,88.16,2.50,1.37,0.54,1.06,0.76,0.52,0.01,0.47

In [49]:
old_data_final.columns

Index(['biopsy', 'id_value', 'nt1c', 'nt1v', 'nfse', 'nfl', 'nt1d', 'nadc',
       'nfa', 'nev1', 'nev2', 'nev3', 'nevr', 'phn_nlin', 'cbvn_nlin',
       'recov_nlin', 'phn_npar', 'recov_npar', 'cni', 'ccri', 'crni', 'ncho',
       'ncre', 'nnaa', 'nlip', 'nlac'],
      dtype='object')

In [50]:
old_data_final.columns = ['roi.label', 't_number', 'nt1c', 'nt1v', 'nfse', 'nfl', 'nt1d', 'nadc.1',
       'nfa.1', 'nev1.1', 'nev2.1', 'nev3.1', 'nevrad.1', 'phn_nlin', 'cbvn_nlin',
       'recov_nlin', 'phn_npar','recov_npar', 'cni', 'ccri', 'crni', 'ncho', 'ncre', 'nnaa',
       'nlip', 'nlac']

In [52]:
old_data_final.to_csv('old_po1_data_nov2018.csv')